[project]
	description = testproject om github repositories uit te proberen aan de hand van een adresboek geschreven in php, html, css en javascript.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/immeëmosol (imme-emosol)
[access "refs/for/refs/*"]
	read = group user/immeëmosol (imme-emosol)
	push = group user/immeëmosol (imme-emosol)
	label-Code-Review = -2..+2 group user/immeëmosol (imme-emosol)
	label-Verified = -1..+1 group user/immeëmosol (imme-emosol)
	rebase = group user/immeëmosol (imme-emosol)
	removeReviewer = group user/immeëmosol (imme-emosol)
	submit = group user/immeëmosol (imme-emosol)
[access "refs/heads/*"]
	read = group user/immeëmosol (imme-emosol)
	create = group user/immeëmosol (imme-emosol)
	push = +force group user/immeëmosol (imme-emosol)
	pushMerge = group user/immeëmosol (imme-emosol)
[access "refs/tags/*"]
	push = +force group user/immeëmosol (imme-emosol)
	pushTag = group user/immeëmosol (imme-emosol)
	pushSignedTag = group user/immeëmosol (imme-emosol)
